# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Logs
*.log

# Environment variables
.env
.env.*
